{% extends 'base.html' %}
{% block content %}
        <h1>ABOUT 혀니</h1>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
           <p class="card-text">안녕하세요 항공대학교 항공전자정보공학부 20학번 박수현입니다!</p>
        </div>
    </div>
    <br>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
           <p class="card-text">종강을 제일 좋아합니다.</p>
        </div>
    </div>
    <br>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
           <p class="card-text">코로나가 끝나면 여행을 가고싶어요!</p>
        </div>
    </div>
{% endblock %}