{% extends 'base.html' %}
{% block content %}
        <form action="{% url 'create' %}">
            <h4>제목: </h4>
            <input type="text" name="title">
            <br>
            <br>
            <h4>이름: </h4>
            <input type="text" name="name">
            <h4>학번: </h4>
            <input type="text" name="idnum">
            <br>
            <h4>본문: </h4>
            <textarea name="body" cols="40" rows="10"></textarea>
            <br>
            <br>
            <input type="submit" value="제출하기">
        </form>
    </div>
{% endblock %}